<!doctype html>
<html lang="en">

  <% include partials/head %>
  <% include partials/header %>

  <div class="examples">
    <ul>
      <% examples.forEach(function(example) { %>
        <li>
          <a href="<%= example.url %>">
            <%= example.name %>
          </a>
          (<%= example.text %>)
        </li>
      <% }); %>
    </ul>
  </div>

</html>
