<!doctype html>
<html lang="en">

  <% include head %>

  <div class="main">
    <h1><%= heading %></h1>
    <p>
      How about we check out some <a href="/examples">examples</a>?
    </p>

    <% include app %>
  </div>

</html>
