<div class="app">
  <h1><%= heading %></h1>
  <p>
    How about we check out some <a href="/examples">examples</a>?
  </p>

  <div id="app"></div>

  <script src="js/<%= bundle %>.js"></script>
</div>
