<!doctype html>
<html lang="en">

  <% include partials/head %>
  <% include partials/header %>

  <article>
    <h2>Yo!</h2>
    <p>
      <%= faker.lorem.paragraph() %>
    </p>
  </article>

</html>
