<nav class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <% navbar.forEach(function(item) { %>
      <li class="pure-menu-item"><a class="pure-menu-link" href="<%= item.url %>"><%= item.text %></a></li>
    <% }); %>
  </ul>
</nav>
